<div class="card my-2" style="width: 20rem">
  <img src="images/bchain2.jpg" class="card-img-top" alt="blog image" />
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">
      Some quick example text to build on the card title and make up the bulk of
      the card's content.
    </p>
    <p class="text-secondary">2nd Feb 24</p>
    <a href="/view" class="btn btn-dark my-1">Read</a>
    <a href="/edit" class="btn btn-dark mx-1">Edit</a>
  </div>
</div>
