<%- include("partials/header.ejs") %>

<h1>You have passed the quiz.</h1>
<div class="score">
    <h2>90%</h2>
</div>
<h2>Section 1: 4/5</h2>
<h2>Section 1: 5/5</h2>

<%- include("partials/footer.ejs") %>