/* Write your code here: */
h1,
h2 {
  color: purple;
}

/* select from .box first element with class .done  */
.box > .done {
  color: indianred;
}

/* ancestor descendant rule */
.list li { 
  font-weight: bold;
  color: blue;
}

/* using the combine selector rule */
li.done { 
  color: seagreen;
}

/* selector selectorselector rule */
ul p.done {
    font-size: xx-small;
}