<%- include("partials/header.ejs") %>

<div class="container">
  <h1 class="welcome">Welcome to the Ultimate JavaScript Quiz</h1>
  <h2 class="instructions">Instructions:</h2>
  <ul>
    <li>There are 5 questions in each section each having 4 options</li>
    <li>Only one answer among the 4 options is correct</li>
    <li>
      Once you have picked one, proceed to the next section by clicking the next
      button.
    </li>
    <li>Answer all questions</li>
    <li>Click "submit" in the last section for your worked to be reviewed.</li>
  </ul>
  <a href="/section1"><button>Start</button></a>
</div>
<script src="scripts/script.js"></script>
<%- include("partials/footer.ejs") %>
