<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/main.css" />
    <title>Edit Note</title>
  </head>

  <body>
    <div class="container">
      <div class="logo">
        <img src="/images/note_logo.jpg" alt="note_pad_logo" />
      </div>
      <div class="form">
        <form action="/api/notes/<%= note.id %>" method="post">
          <input
            type="text"
            name="content"
            value="<%= note.content %>"
            placeholder="Type a note"
            required
          />
          <select
            name="category"
            id="category"
            title="Add note category"
            required
          >
            <option value="">Category</option>
            <option value="Personal">Personal</option>
            <option value="Work">Work</option>
            <option value="Study">Study</option>
            <option value="Research">Research</option>
            <option value="Creative">Creative</option>
            <option value="Travel">Travel</option>
            <option value="Health">Health</option>
            <option value="Finance">Finance</option>
            <option value="Meeting">Meeting</option>
            <option value="Project">Project</option>
          </select>
          <button type="submit" title="add note" class="add-button btn">
            Update
          </button>
        </form>
      </div>
    </div>
  </body>
</html>
