<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daily Info</title>
</head>
<body>
    <h1>Input the information</h1>
    <form action="/info" method="post">
        <label for="day"><b>weather:</b></label>
        <input type="text" name="dayType">
        <label for="advice"><b>advice:</b></label>
        <input type="text" name="advice">
        <input type="submit" value="Send">
    </form>
</body>
</html>