* {
  font-family: "Source Code Pro", "sans-serif";
}

/* hero section styling */

#hero {
  background: linear-gradient(300deg, #0000, #2d2d2d, #000000);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
  max-width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.intro {
  color: white;
  position: relative;
  left: 40px;
  z-index: 1;
}
.profession {
  background-color: yellow;
  color: black;
  width: fit-content;
}
.profession p {
  font-size: 2.5rem;
  width: fit-content;
  height: fit-content;
}

.intro h1 {
  font-weight: bold;
  font-size: 3rem;
}

.intro h2 {
  font-size: 1.5rem;
}

/* about me section styling */

#about {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
  background-color: rgb(231, 229, 229);
  height: 100vh;
}

.about {
  max-width: 50%;
}

/* .about h2 {
  font-weight: bolder;
  text-transform: uppercase;
  padding: 5px;
} */

.about h3 {
  text-transform: uppercase;
}

.yellow {
  color: rgb(123, 123, 37);
}

.lang {
  position: relative;
  background-color: yellow;
  border: 1px solid black;
}

.js {
  align-self: baseline;
  rotate: 20deg;
  font-size: 5rem;
  right: 30px;
}

.c {
  rotate: -20deg;
  font-size: 2rem;
  align-self: flex-end;
  right: 50px;
  bottom: 2rem;
}

.cpp {
  font-size: 2rem;
  rotate: -40deg;
  order: 1;
  left: 3rem;
}

.java {
  order: 1;
  align-self: baseline;
  left: 20px;
  rotate: 40deg;
  font-size: 2rem;
}

/* projects section */
#projects {
  background: linear-gradient(300deg, #0000, #2d2d2d, #000000);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
  max-width: 100%;
  height: 200vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0;
}

.pro-card {
  width: 90%;
  height: fit-content ; /* change this to 'fit-content' */
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 20px;
  color: white;
  margin-bottom: 4rem;
}

.pro-image {
  width: 100%;
  height: 100%;
  border: 2px solid yellow;
}

.pro-image img {
  width: 100%;
  height: 100%;
}

