* {
  font-family: "Source Code Pro", "sans-serif";
}

/* hero section styling */

#hero {
  background: linear-gradient(300deg, #0000, #2d2d2d, #000000);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
  max-width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.intro {
  color: white;
  position: relative;
  left: 40px;
  z-index: 1;
}
.profession {
  background-color: yellow;
  color: black;
  width: fit-content;
}
.profession p {
  font-size: 2.5rem;
  width: fit-content;
  height: fit-content;
}

.intro h1 {
  font-weight: bold;
  font-size: 3rem;
}

.intro h2 {
  font-size: 1.5rem;
}

/* about me section styling */

#about {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
  background-color: rgb(231, 229, 229);
  height: fit-content;
}

.about {
  max-width: 50%;
}

.about h2 {
  font-weight: bolder;
  text-transform: uppercase;
  padding: 5px;
}

.about h3 {
  text-transform: uppercase;
}

.yellow {
  color: rgb(123, 123, 37);
}

.lang {
  position: relative;
  background-color: yellow;
  border: 1px solid black;
}

.js {
  align-self: baseline;
  rotate: 20deg;
  font-size: 5rem;
  right: 30px;
}

.c {
  rotate: -20deg;
  font-size: 2rem;
  align-self: flex-end;
  right: 50px;
}

.cpp {
  font-size: 2rem;
  justify-self: flex-start;
  rotate: -40deg;
  order: 1;
}

.java {
  order: 1;
  align-self: baseline;
  rotate: 40deg;
  font-size: 2rem;
}
