@import url("https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Exo", sans-serif;
}

/* header.ejs */

body {
  background-color: #cbd5e1;
}

/* home.ejs styling */

.container {
  margin: 50px auto;
}

.container,
.form-container {
  padding: 10px;
  width: fit-content;
  text-align: left;
  background-color: white;
  border-radius: 8px;
}

.btn,
.call-to-action {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px;
}

.btn button,
input {
  padding: 10px 15px;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn button:hover,
input:hover {
  background-color: #2a2a38;
  color: white;
  transition: all ease-in-out 0.3s;
}

/* styling of question sections */

.form-container {
  margin: 0 auto;
}

.sec2-form {
  display: flex;
  flex-direction: column;
}

.option {
  display: flex;
  flex-direction: row;
}

input[type="radio"] {
  display: grid;
  place-content: center;
}

input[type="radio"]::before {
  content: "";
  width: 1em;
  height: 1em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em #0066e2;
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

/* footer.ejs styling */

footer {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

/* result.ejs styling */

.result-container {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 60px;
}

.score {
  border: 10px solid #cbd5e1;
  padding: 40px;
  border-radius: 50%;
}
