<%- include("partials/header.ejs") %>

<body>
  <div class="start-container">
    <h1>Hi there! Welcome to <span>TaskFlow</span></h1>
    <!-- <h1>The World's First Open-Source Task Manager</h1> -->
    <h2>Please tell us your name to begin.</h2>
    <form action="/" method="post">
      <input type="text" name="username" required placeholder="Name here" />
      <button type="submit">Let's Go!</button>
    </form>
  </div>
</body>

<%- include("partials/footer.ejs") %>
