html {
    background-color: black;
}
h1, h2[class="cl-change"] {
    color: white;
}

img {
    height: 200px;
    width: 200px;
}

.color-title {
    font-weight: normal;
}

#red {
    color: red;
}

#blue {
    color: blue;
}

#orange {
    color: orange;
}

#green {
    color: green
}

#yellow {
    color: yellow;
}